body {
    background-color: lightblue;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 95%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

#weather-container {
    background-color: lightseagreen;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(black, black, black, black);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(white, white, white, 0.1);
    text-align: center;

}

h2,
label,
p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 15px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background-color: #debff4;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #8b48d7;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}